@import "fonts.css";
@import "colors.css";
@import "responsive.css";


html {
    background: url(/my-solution/public/images/pattern-background-mobile.svg) no-repeat center fixed;
    background-size: cover;
    width: 375px;
    height: 709px;
}

.hero-image {
    background: url(/my-solution/public/images/illustration-hero.svg) no-repeat center;
    background-size: cover;
    height: 160px;
    width: 328px;
    position: relative;
    
}

.order-summary {
    background-color: white;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}